*{
  margin: 0;
  padding: 0;
}

html,html, #root {
  overflow-x: hidden;
  width: 100%;
}

.hero {
  background-image: url('../../../assets/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  position: relative;
  background-repeat: no-repeat;
}

/* .heroleft{
  overflow: hidden;
} */

.heroleft h1 {
  font-size: 72px;
  color: #fff;
  line-height: 1.1;
}

.herobuttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btnprimary {
  background: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 550;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.btnsecondary {
  color: #fff;
  background-color: #b29e8e;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}
.herocard { 
  background: #fff; 
  padding: 10px; 
  border-radius: 6px; 
  width: 260px; 
  position: absolute; 
  right: 60px; 
  top: 120px; 
  text-align: center; 
} 

.link{
  text-decoration: none; 
  color: inherit;  
  cursor: pointer;
}

.herocard img { 
  width: 100%; 
  border-radius: 4px; 
}

.herocard p { 
  margin: 14px 15px; 
  font-weight: 600; 
  cursor: pointer; 
}



@media screen and (max-width: 480px) {

  .hero {
    background: none;     
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }

  .heroleft h1 {
    font-size: 42px;
    color: #000;
  }

  .herocard {
    display: none;
  }

  .hero::after {
  content: "";
  display: block;
  height: 260px;
  margin-top: 30px;

  background-image: url('../../../assets/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;        /* ✅ FIX */
  border-radius: 0;
}


  .btnprimary {
    color: #fff;
    background-color: black;
  }

  .btnsecondary {
    background-color: #fff;
    color: #f7f4f4;
    border: 1px solid rgba(0, 0, 0, 0.18);
  }

}

@media screen and (min-width: 481px) and (max-width: 770px) {
  .herocard {
    display: none;
  }
}
