.feature{
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 80px 40px 80px 40px;
  overflow: hidden;
}

.card span{
  font-size: 45px;
  margin-bottom: 18px;
  color: #000;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  max-width: 100%;
}

@media screen and (max-width: 476px) {
  .feature {                  
    grid-template-columns: 1fr;       
    justify-items: center;            
    align-items: center;
    margin: 0 auto;
    padding: 40px 16px;               
    gap: 25px;
  }

  .card span{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card h3{
    text-align: center;
  }

  .card p{
    text-align: center;
  }
}

@media screen and (min-width: 477px) and (max-width: 776px){
  .feature {                  
    grid-template-columns: repeat(2, 1fr);       
    justify-items: center;            
    align-items: center;
    margin: 0 auto;
    padding: 40px 16px;               
    gap: 25px;
  }
}
