.footercontainer {
  width: 100%;
  padding: 80px 40px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  column-gap: 90px;
}

.navigation h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
  color: #000;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.option p {
  font-size: 15px;
  color: #444;
  cursor: pointer;
}

.link{
  text-decoration: none; 
  color: inherit;  
  cursor: pointer;
}

.option p:hover {
  color: #000;
}

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.loc1 {
  display: flex;
  flex-direction: column;
}

.loc1 p {
  font-size: 15px;
  color: #444;
  cursor: pointer;
  margin-bottom: 14px;
}

.footericon {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 30px;
}

.footericon a {
  font-size: 20px;
  color: #9a9a9a;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;  
  display: inline-block; 
}

.footericon a:hover {
  color: #000;
}

.footerbottom {
  border-top: 1px solid #e6e6e6;
  padding: 25px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.bottomleft p {
  font-size: 14px;
  color: #777;
}

.bottomleft span {
  color: #000;
  cursor: pointer;
}

.bottomcenter {
  text-align: center;
}

.bottomcenter p {
  font-size: 14px;
  color: #777;
}

.bottomright {
  text-align: right;
}

.bottomright p {
  font-size: 14px;
  color: #777;
  cursor: pointer;
}



@media (max-width: 700px) {

  .footercontainer {
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 15px;
    row-gap: 50px;
    padding: 40px 20px;
  }

  .footercontainer > div:nth-child(1),
  .footercontainer > div:nth-child(2),
  .footercontainer > div:nth-child(3) {
    grid-column: span 1;
  }

  .footercontainer > div:nth-child(4) {
    grid-column: 1 / -1; 
  }

  .loc1 p {
  font-size: 12px;
}

  .location {
    gap: 5px;
  }

  .footericon {
    margin-top: 24px;
  }

  .footerbottom {
    grid-template-columns: 1fr;
    padding: 20px 15px;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.bottomright {
  text-align: center;
}

}

@media screen and (min-width: 701px) and (max-width:900px){
    .footercontainer {
        padding: 80px 30px;
        column-gap: 10px;
}
}

